* {

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 50px;
}

/* section one  */

.wc {
    font-size: 2.25rem;


}

.name {
    font-size: 2.75rem;


}

.highlight {

    color: #ffab52;

}

h3 {}

.p1 {}

.box {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

}

.box__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__image>img {
    max-width: 80%;
}

button {
    padding-inline: 8px;
    background-color: yellow;

    border: none;
    border-radius: 10px;
    margin-top: 15px;


}

button:hover {
    background-color: black;

}

a {
    text-decoration: none;
    font-size: 1.75rem;
    color: blue;

}

a:hover {
    color: white;
}

.s1 {
    background-image: url("images/icon1.png");

    border: 1px solid white;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);



}



/* section two */

.box2 {
    padding: 15px;
}

.box2__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2__image>img {
    max-width: 80%;
}



.em {}

.wc2 {
    font-size: 2.5rem;


}

.emulator {
    font-size: 1.5rem;

}

.p2 {}

.s2 {
    background-image: url("images/icon2.png");
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-position-x: right;


}

.button2 {

    background-color: yellow;
    border: none;
    border-radius: 10px;



}

/* seciton three */
.boxes__container {

    gap: 20px;
    padding: 20px;
    display: flex;


}

.boxes {
    padding: 10px;
}



.b1 {
    color: #ffab52;

}

.b2 {
    color: #ffab52;

}

.BoxShadow {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;

    border-left: 5px solid orange;
}

.Experience {
    background-image: url("images/icon3.png");
    background-repeat: no-repeat;

    background-position: left;

}

.Experience>h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    margin-left: 30px;
    margin-bottom: 30px;
}


footer {
    text-align: center;
    padding: 20px;
}

/* done ✔ */
/*Mobile View*/
@media screen and (max-width:768px) {

    .box__image,
    .box,
    .box2,
    .box2__image {
        grid-column: 1 / span 2;
    }

    .box {
        align-items: center;
    }

    .boxes__container {
        flex-direction: column;
    }

    .name {
        text-align: center;
    }


}